<html>
<head>
	<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

<div id="app">

    <input id="name" type="text" placeholder="nuevo usuario" />

    <select v-if="countries" id="country">
      <option v-for="(country, index) in countries" v-bind:value="country.id_country">{{ country.name }}</option>
    </select>

    <select v-if="painters" id="painter">
      <option v-for="(painter, index) in painters" v-bind:value="painter.id_painter">{{ painter.name }}</option>
    </select>


    <input type="file" name="example1" id="example1"/>
    <button v-on:click="uploadFile($event)">Upload file</button>


    <button v-on:click="addPicture($event)">Add</button>

    <div
      v-for="(picture, index) in pictures"
      class="picture"
    >

      <div>
        {{ index }} {{ picture.id_picture }} "{{ picture.picture_name }}", de {{ picture.painter_name }} ({{ picture.country }})
        <button v-on:click="deletePicture(picture.id_picture, index, $event)">Delete</button>
        <button v-on:click="editPictureForm(picture.id_picture, index, $event)">Edit</button>

        <div v-if="picture.showEdit">
          <input v-bind:id="'name-' + picture.id_picture" type="text" v-bind:value="picture.picture_name" />
          <input v-bind:id="'painter-' + picture.id_picture" type="text" v-bind:value="picture.id_painter" />
          <input v-bind:id="'country-' + picture.id_picture" type="text" v-bind:value="picture.id_country" />
          <button v-on:click="editPictureAction(picture.id_picture)">Edit</button>
        </div>

        <span class="lighten">
          <span></span>
        </span>
      </div>
    </div>

</div>




<script>

  new Vue({
    el: '#app', 

    data () {
      return {
        pictures: null,
        countries: null,
        painters: null,
      }
    },
    mounted () {
      this.listar();
      this.listarCountries();
      this.listarPainters();
    },

    methods: {
        listar: function (){
          console.log('listando...');

          let config = {
            headers: {
              X_HTTP_USER_ID: 1,
            }
          }

          axios
            .get('http://localhost:8888/pictures', config)
            .then(response => (this.pictures = response.data))
      },

      listarCountries: function (){
          axios
            .get('http://localhost:8888/countries')
            .then(response => (this.countries = response.data))

      },

      listarPainters: function(){
        axios.get('http://localhost:8888/painters')
        .then(response => (this.painters = response.data))
      },


      deletePicture: function (id, index, event){
        let config = {
          headers: {
            X_HTTP_USER_ID: 1,
          }
        }      

        console.log(event)
        axios
          .delete('http://localhost:8888/pictures/delete/'+id, config)
          .then(response => (this.info = response.data))

        this.pictures.splice(index, 1)
      },


      editPictureForm: function(id_picture, index, event){
        console.log('editando picture: ' + index)
        this.pictures[index]["showEdit"]=true;
        this.pictures.push();
      },

      editPictureAction: function(id_picture, index){
        const nameInput  = document.getElementById('name-'+id_picture).value;
        const painterInput  = document.getElementById('painter-'+id_picture).value;
        const countryInput  = document.getElementById('country-'+id_picture).value;


        let config = {
          headers: {
            X_HTTP_USER_ID: 1,
          }
        }  

        axios
          .put('http://localhost:8888/pictures/update/'+id_picture,
          {
            id_painter: painterInput,
            name: nameInput,
            id_country: countryInput            
          },
           config)
          
        .then(this.listarEspecifico(id_picture, index));
        
      },

      listarEspecifico: function (id_picture, index){
          let config = {
            headers: {
              X_HTTP_USER_ID: 1,
            }
          }  

          axios
            .get('http://localhost:8888/pictures/'+id_picture, config)
            .then(function (response) {
            console.log(response.data);

            var obj = JSON.parse(response.data);

          });


      },

      addPicture: function (event){       
        console.log('add user function')
        const nameInput  = document.getElementById('name').value;
        const painterInput  = document.getElementById('painter').value;
        const countryInput  = document.getElementById('country').value;



        console.log(nameInput);



        let config = {
          headers: {
            X_HTTP_USER_ID: 1,
          }
        }


        axios
        .put('http://localhost:8888/pictures/add',
          {
            id_painter: painterInput,
            name: nameInput,
            id_country: countryInput
          },
          config
          )
        .then(
          this.addUserToList
        )
        
      },

      uploadFile: function (event){       
        let config = {
          headers: {
            X_HTTP_USER_ID: 1,
            'Content-Type': 'multipart/form-data'
          }
        }

        var formData = new FormData();
        var imagefile = document.querySelector('#example1');
        formData.append("example1", imagefile.files[0]);
        formData.append("name", "jose");

        axios
        .post('http://localhost:8888/uploadfile', formData,
          {},
          config
          )
        .then(
          this.addUserToList
        )
        
      },



      addUserToList: function(){
          var newPicture = {};
          newPicture['id_picture'] = '0';
          newPicture['picture_name'] = document.getElementById('name').value;
          this.pictures.push(newPicture);

          document.getElementById('name').value='';
          document.getElementById('painter').value='';
          document.getElementById('country').value='';  

      }
    },

  })
</script>

</body>

</html>